/** {
margin:0;
padding:0;
border:0;
}*/

body {
font-family:arial,free-sans,sans-serif,verdana;
font-size:12px;
background:url(img/body_back.jpg) bottom left repeat-x #ffffff;
color:#053C71;
line-height:130%;
padding:0;
margin:0;
}

img	{
}

h1	{
font-size:20px;
}

h2 {
font-size:12px;
font-weight:bold;
color:#ffffff;
background:url(img/main_title.jpg);
line-height:30px;
padding-left:10px;
}

	h2 a	{
	color:#ffffff;
	font-size:;
	text-decoration:none;
	}

h3	{
font-size:12px;
font-weight:bold;
}

a {
color:#035188;
text-decoration:underline;
}

a:hover {
color:#36A5EB;
text-decoration:underline;
}

a.active {
color:#3196F9;
text-decoration:underline;
}
#page_wrapper	{
width:100%;
margin:auto;
background:url(img/body_back_logo.jpg) bottom left no-repeat;
}
/***
 *
 *HEADER
 *
 ***/   
#header	{
height:130px;
background:url(img/header_back.jpg);
}

	#header img	{
	float:left;
	}

	#header h1.page-title	{
	margin:0;
	padding-top:70px;
	color:#ffffff;
	}

	#header span.page-slogan	{
	font-size:14px;
	font-style:italic;
	color:#cccccc;
	display:block;
	padding-top:5px;
	}

	#header_blocks	{
	float:right;
	}
/***
 *
 *ADDITIONAL HEADER
 *
 ***/
#additional_header .block {
float:left;
}

  /***
  *
  PRIMARY LINKS
  *
  ***/
  #additional_header #block-menu-primary-links, #additional_header #block-menu-secondary-links {
  height:30px;
  background:url(img/submenu.jpg);
  color:#ffffff;
  padding:0;
  border:0;
  margin:0;
  float:none;
  }
  
  #additional_header #block-menu-primary-links .content,#additional_header #block-menu-secondary-links .content {
  background:none;
  padding:0;
  border:0;
  margin:0;
  }
  
  #additional_header #block-menu-primary-links h2, #additional_header #block-menu-secondary-links h2 {
  display:none;
  }
  
  #additional_header #block-menu-primary-links ul.menu,#additional_header #block-menu-secondary-links ul.menu {
  list-style:none;
  padding:0;
  margin:0;
  }
  
  #additional_header #block-menu-primary-links ul.menu li,#additional_header #block-menu-secondary-links ul.menu li {
  list-style:none;
  padding:0;
  margin:0;
  float:left;
  }
  
  #additional_header #block-menu-primary-links ul.menu li a,#additional_header #block-menu-secondary-links ul.menu li a {
  color:#ffffff;
  line-height:30px;
  background:url(img/submenu.jpg);
  display:block;
  text-decoration:none;
  width:98px;
  text-align:center;
  padding:0;
  border-right:solid 2px #1E477D;
  }
  
  #additional_header #block-menu-primary-links ul.menu li a:hover,#additional_header #block-menu-secondary-links ul.menu li a:hover {
  color:#ffffff;
  line-height:30px;
  background:url(img/submenu_hover.jpg);
  display:block;
  text-decoration:none;
  width:98px;
  text-align:center;
  padding:0;
  border-right:solid 2px #2856D6;
  }

  #additional_header #block-menu-primary-links ul.menu li ul.menu,#additional_header #block-menu-secondary-links ul.menu li ul.menu{
  display:none;
  }

  #additional_header #block-menu-primary-links ul.menu li:hover ul.menu,#additional_header #block-menu-secondary-links ul.menu li:hover ul.menu {
  display:block;
  position:absolute;
  width:100px;
  }

  #additional_header #block-menu-primary-links ul.menu li:hover ul.menu li ul,#additional_header #block-menu-secondary-links ul.menu li:hover ul.menu li ul {
  display:none;
  }

  #additional_header #block-menu-primary-links ul.menu li:hover ul.menu li:hover ul,#additional_header #block-menu-secondary-links ul.menu li:hover ul.menu li:hover ul {
  display:block;
  position:absolute;
  width:100px;
  margin-top:-30px;
  margin-left:100px;
  }

  #additional_header #block-menu-primary-links ul.menu li:hover ul.menu li:hover ul li ul,#additional_header #block-menu-secondary-links ul.menu li:hover ul.menu li:hover ul li ul {
  display:none;
  }

  #additional_header #block-menu-primary-links ul.menu li:hover ul.menu li:hover ul li:hover ul,#additional_header #block-menu-secondary-links ul.menu li:hover ul.menu li:hover ul li:hover ul {
  display:block;
  position:absolute;
  width:100px;
  margin-top:-30px;
  margin-left:100px;
  }

  #additional_header #block-menu-primary-links ul.menu li:hover ul.menu li:hover ul li:hover ul li ul,#additional_header #block-menu-secondary-links ul.menu li:hover ul.menu li:hover ul li:hover ul li ul {
  display:none;
  }

  #additional_header #block-menu-primary-links ul.menu li:hover ul.menu li:hover ul li:hover ul li:hover ul,#additional_header #block-menu-secondary-links ul.menu li:hover ul.menu li:hover ul li:hover ul li:hover ul {
  display:block;
  position:absolute;
  width:100px;
  margin-top:-30px;
  margin-left:100px;
  }

  #additional_header #block-menu-primary-links ul.menu li:hover ul.menu li:hover ul li:hover ul li:hover ul li ul,#additional_header #block-menu-secondary-links ul.menu li:hover ul.menu li:hover ul li:hover ul li:hover ul li ul {
  display:none;
  }

  #additional_header #block-menu-primary-links ul.menu li:hover ul.menu li:hover ul li:hover ul li:hover ul li:hover ul,#additional_header #block-menu-secondary-links ul.menu li:hover ul.menu li:hover ul li:hover ul li:hover ul li:hover ul {
  display:block;
  position:absolute;
  width:100px;
  margin-top:-30px;
  margin-left:100px;
  }

  #additional_header #block-menu-primary-links ul.menu li:hover ul.menu li:hover ul li:hover ul li:hover ul li:hover ul li ul,#additional_header #block-menu-secondary-links ul.menu li:hover ul.menu li:hover ul li:hover ul li:hover ul li:hover ul li ul {
  display:block;
  }

/*
 *
 *COLUMNS
 ** 
 ****/  
#columns	{
width:100%;
margin-right:-100%;
float:left;
clear:both;
background:url(img/columns_back.jpg) top left repeat-x;
}

/**
credits
*/
#credits	{
text-align:center;
}
/**
 * MENU INSIDE A BLOCK
 **/
.block ul.menu	{
padding:0;
margin:0 -6px 0 -6px;
list-style-type:none;
list-style-image:none;
}

.block ul.menu li	{
padding:0;
margin:0;
list-style-type:none;
list-style-image:none;
display:inline;
}

.block ul.menu li ul	{
padding:0 0 0 12px;
margin:0;
list-style-type:none;
list-style-image:none;
}

.block ul.menu li a	{
display:block;
padding:3px;
color:#1969A3;
text-decoration:none;
background:url(img/li_back.jpg);
}

.block ul.menu li.collapsed a	{
display:block;
padding:3px;
border-right:solid 2px #2273AE;
color:#1969A3;
background:url(img/li_back.jpg);
text-decoration:none;
}

.block ul.menu li a:hover	{
display:block;
padding:3px;
color:#1969A3;
background:url(img/li_back_hover.jpg);
text-decoration:none;
}

/***
*
LEFT BAR
*
***/
#left_bar {
float:left;
background:;
color:;
width:180px;
}

	#left_bar a {
	}

	#column-left a:hover{
	}

.block {
padding:1px;
border:1px solid #C4C4C4;
margin:5px 5px 10px 5px;
}

.block h2 {
margin:0;
background:url(img/block_main_title.jpg) #000000;
}

.block .content {
padding:6px;
background:#F8FCFF;
}

/***
*
RIGHT BAR
*
***/
#right_bar	{
float:right;
background:;
color:;
width:180px;
}

	#right_bar a	{
	}

	#right_bar a:hover	{
	}
/***
*
CONTENT BAR
*
***/
#content_bar	{
padding:25px 5px 10px 5px;
margin:0 180px;
overflow:;
width:;
}

	#content_bar a	{
	color:;
	text-decoration:;
	}
	
	#content_bar a:hover	{
	color:;
	text-decoration:;
	}
	
	#content_bar h1	{
	color:;
	font-size:;
	}

	#content_bar h2	{
	clear:both;
	}
	
		#content_bar h2 a	{
		}

	#top_content	{
	}
	
  	#top_content .block	{
  	float:left;
  	}
	
	.help {clear:both;}
	
	#tabs-wrapper {clear:both;}
	
	#main_content	{
	clear:both;
	}
	
	#bottom_content	{
	clear:both;
	}

.node {
padding:1px;
border:1px solid #C4C4C4;
margin:0 0 10px 0;
}

.node h2 {
margin:0;
}

h2.with-tabs {
margin:0;
}

.node .content {
padding:6px;
background:#F9FCFF;
}

.node .content img {
padding:7px;
}

.node .meta {
line-height:30px;
background:#E2ECF6;
padding:0 5px;
border-bottom:1px solid #DCDCDC;
}

.node .terms-inline ul.links {
line-height:30px;
background:#E2ECF6;
width:100%;
display:inline;
}

.node ul.links {
line-height:30px;
background:#E2ECF6;
width:100%;
display:block;
}   

	/*
	.front #content_bar .node {
	float:left;
	width:46%;
	height:280px;
	color:#666666;
	font-size:11px;
	margin-left:10px;
	overflow:auto;
	}

	.front #content_bar .node h2 {
	font-size:110%;
	}

	.front #content_bar .node h2 a {
	color:#666666;
	border:none;
	text-decoration:underline;
	}

	.front .node .meta {
	}

	#content_bar .node .meta {
	font-size:9px;
	color:#cccccc;
	}

	#content_bar .node .meta a {
	font-size:9px;
	color:#cccccc;
	border:none;
	text-decoration:underline;
	}

	#content_bar .node img {
	margin:5px;
	}
*/

/*
#block-menu-secondary-links {
border-top:solid 1px #ccc;
padding-top:10px;
margin-top:10px;
font-size:11px;
}

#block-menu-secondary-links ul li {
display:inline;
}

#block-menu-secondary-links h2 {
display:none;
}
*/
/***
* 
FOOTER
*
***/
#footer	{
margin:;
clear:both;
text-align:center;
background:;
color:#ffffff;
font-size:;
padding:100px 0 15px 0;
}

	#footer a	{
	background:;
	color:#ffffff;
	font-size:;
	text-decoration:;
	}

	#footer a:hover	{
	background:;
	color:ffffff;
	font-size:;
	text-decoration:;
	}
#footer .block {
float:left;
/***
* 
DRUPAL FIX 
*
***/

/*#tabs-wrapper	{
height:100px;
}

#main-content div	{
clear:none;
}

.status {
background:#FFCCCC;
color:#220000;
border:1px solid #DD7777;
padding:2px;
}*/

/***
*
PUBLICATIONS
*
***/

ul.vocabindex-list {
list-style:none;
margin-bottom:10px;
padding-left:20px;
margin-left:0px;
}

ul.vocabindex-list li a {
background:#dddddd;
padding:3px;
display:block;
font-weight:bold;
}

ul.vocabindex-list li a:hover {
background:#dddddd;
padding:3px;
display:block;
font-weight:bold;
}

ul.vocabindex-list li ul.vocabindex-list {
list-style:upper-roman;
}

ul.vocabindex-list li ul.vocabindex-list li a {
background:#FBFBFB;
padding:3px;
display:block;
font-weight:bold;
}

ul.vocabindex-list li ul.vocabindex-list li a:hover {
background:#F2F2F2;
padding:3px;
display:block;
font-weight:bold;
}

ul.vocabindex-list li ul.vocabindex-list li ul.vocabindex-list {
list-style:lower-roman;
}

#column-center ul.vocabindex-list li ul.vocabindex-list li ul.vocabindex-list li a {
background:#FBFBFB;
padding:1px;
display:block;
font-weight:normal;
font-size:11px;
border-bottom:0;
}

#column-center  ul.vocabindex-list li ul.vocabindex-list li ul.vocabindex-list li a:hover {
background:#F2F2F2;
padding:1px;
display:block;
font-weight:normal;
font-size:11px;
border-bottom:0;
}

/***
*
DOWNLOADS 
*
***/
ul.links li.upload_attachments {
display:block;
padding-left:35px;
padding-top:8px;
height:24px;
background:url(img/down.gif) center left no-repeat #DCF5FF;
}

#column-center ul.links li.upload_attachments a {
color:#003DFF;
}

#attachments {
width:100%;
}

#attachments tr a {
color:#003DFF;
} 

#attachments tr  td {
height:32px;
padding-left:35px;
}

#attachments tr.odd {
padding-left:35px;
padding-top:8px;
height:24px;
background:url(img/down.gif) center left no-repeat #DCF5FF;
}

#attachments tr.even {
padding-left:35px;
padding-top:8px;
height:24px;
background:url(img/down.gif) center left no-repeat #FFFFFF;
}